body{
    background-color: #e7e7e7;
}
table > tbody > tr > td{
    background-color: snow;
}
.blockItem{
    margin-left: 30px;
    margin-right: 30px;
}
.resultTable{
    height: 500px;
    overflow-y: scroll;
}
.resultGraph{
    width: 50%;
}
.tdHeader{
    text-align:center;
    width: 100px;
}
.choiceViewResult{
    margin-bottom: 10px;
}